.logo {
  font: var(--font-logo);
  color: var(--content-brand);
}

h1 {
  font: var(--font-title);
  color: var(--content-primary);
}

.text-header-describe {
  font: var(--font-pg-md);
  color: var(--content-secondary);
}

.text-label-input {
  font: var(--font-label-md);
  color: var(--content-primary);
}

.text-header-period {
  font: var(--font-label-lg);
  color: var(--content-primary);
}

.text-header-hour {
  font: var(--font-label-lg);
  color: var(--content-secondary);
}

.text-hour {
  font: var(--font-label-sm);
  color: var(--content-primary);
}

.text-animal {
  font: var(--font-label-sm);
  color: var(--content-primary);
}

.text-tutor {
  font: var(--font-pg-sm);
  color: var(--content-secondary);
}

.text-describe-service {
  font: var(--font-pg-sm);
  color: var(--content-secondary);
}

.text-remove {
  font: var(--font-pg-sm);
  color: var(--content-tertiary);
}

@media (max-width: 768px) {
  .text-hour {
    font: var(--font-label-md);
    color: var(--content-primary);
  }

  .text-animal {
    font: var(--font-label-md);
  }

  .text-tutor {
    font: var(--font-pg-md);
  }

  .text-describe-service {
    font: var(--font-pg-md);
  }
}
