.container {
  position: relative;
}

.logo {
  position: fixed;

  display: flex;
  align-items: center;
  gap: 0.25rem;

  width: fit-content;
  padding: 0.75rem 1.25rem;
  background-color: #2e2c30;
  border-radius: 0rem 0rem 0.75rem 0rem;
}

.page {
  max-width: 54rem;
  margin-inline: auto;
  padding-block: var(--py);
  padding-inline: var(--px);
}

.header-schedule {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-schedule header {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.header-schedule .date-wrapper {
  position: relative;
  margin-block: 0.375rem;
}

.header-schedule .date-wrapper input#date {
  padding-block: 0.75rem;
  padding-inline: 2.5rem 0.75rem;
  border: 1px solid var(--border-primary);
  border-radius: 0.5rem;
  outline: none;

  font: var(--font-input);
  color: var(--content-secondary);
  background-color: var(--background-secondary);

  &::-webkit-calendar-picker-indicator {
    cursor: pointer;
    background: url("../assets/arrow-down.svg");
  }
}

.header-schedule .date-wrapper .icon-calender {
  position: absolute;
  left: 0.75rem;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;

  width: 1.25rem;
  height: 1.25rem;
  background: url("../assets/calender.svg");
}

.schedule {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.75rem;

  margin-top: 2rem;
}

.schedule .schedule-period {
  background-color: var(--background-tertiary);
  border-radius: 0.625rem;
}

.schedule .schedule-period header {
  display: flex;
  align-items: center;
  gap: 0.75rem;

  padding-block: 0.75rem;
  padding-inline: 1.25rem;
  border-bottom: 1px solid #2e2c30;

  & span:nth-child(2) {
    margin-right: auto;
  }
}

.schedule .list-schedule {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;

  padding: 1.25rem;
}

.schedule .list-schedule li {
  display: flex;
  gap: 1rem;

  padding-block: 1rem;
  padding-inline: 0.75rem;
  border-bottom: 1px solid var(--border-divisor);

  &:last-child {
    border: none;
  }
}

.btn {
  background-color: var(--content-brand);
  color: #050505;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;

  font: var(--font-label-lg);
  font-family: var(--ff-tight);
  box-shadow: 0px 0px 40px rgba(146, 130, 250, 0.3);
}

#new-schedule {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
}
